@charset "utf-8";
div{
    width:200px;
    height:200px;
}

.box1{
    background-color:rgb(255, 0, 170);
    float:left;
}
.box1:hover{
    background-color: yellow;
    padding:10px;
}
.box2{
    background-color:#45abff;
    float:left;
}
.box3{
    background-color:rgb(10, 13, 60);
    float:left;
}
.box4{
    background-color: rgb(80, 10, 53);
    clear:left;
    float:left;
}
.box5{
    background-color: rgb(135, 178, 235);
    float:left;
}
.box6{
    background-color: rgb(240,32,10);
    float:left;
}
.box7{
    background-color: rgb(24, 130, 59);
    clear:left;
    float:left;
    z-index:9999;
}
.box8{
    background-color: rgb(38, 0, 255);
    float:left;
    position: absolute;
    margin-top:400;
}
.box9{
    background-color: rgb(241, 245, 179);
    float:left;
    position:absolute;
    margin-top: 400;
}